<!-- Jumbotron -->
<div class="hidden md:flex m-5 mt-10 justify-between h-auto">
    <div class="items-center p-10 md:pt-5 lg:p-20 w-[50%]">
      <h1 class="text-white font-bold text-5xl">Hi, <br> I'm Arva Revanza</h1>
      <p class="text-white font-semibold text-2xl mt-2 italic">Web Developer</p>
      <div class="mt-5">
        <a href="/#what-i-do" class="text-white border border-white hover:bg-[#F8F6F2] hover:text-[#5271FF] focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">What I Do</a>
        <a href="/#contact" class="text-white border border-white hover:bg-[#F8F6F2] hover:text-[#5271FF] focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Contact</a>
      </div>
    </div>
    <div class="w-[50%]">
      <div class="flex w-full shadow-lg bg-[#F8F6F2] justify-center rounded-2xl">
        <img src="/img/arvapng.png" class="h-auto" alt="">
      </div>
    </div>
</div>

<div class="md:hidden m-5 mt-0 h-auto flex flex-col justify-between">
    <div class="items-center px-10">
      <img src="/img/arvapng.png" class="h-auto" alt="Photo">
    </div>
    <div class="flex flex-col w-full shadow-lg bg-[#F8F6F2] justify-center items-center h-full rounded-2xl px-5 py-7">
      <h1 class="text-[#5271FF] font-bold text-3xl text-center">Hi, <br> I'm Arva Revanza</h1>
      <p class="text-[#5271FF] font-semibold text-xl text-center italic">Web Developer</p>
      <div class="mt-4">
        <button type="button" class="text-[#5271FF] border border-[#5271FF] hover:bg-[#5271FF] hover:text-white focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">What I Do</button>
        <button type="button" class="text-[#5271FF] border border-[#5271FF] hover:bg-[#5271FF] hover:text-white focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Contact</button>
      </div>
    </div>
</div>
<!-- Jumbotron End -->