<!-- My Work -->

<section class="mt-12" id="work">
    <h1 class="text-[#F8F6F2] mx-10 text-center text-3xl font-bold">My Work</h1>
    <div class="bg-[#F8F6F2] h-auto p-10 m-5 rounded-xl grid grid-cols-1 md:grid-cols-2 gap-3">
      <a href="/voter" class="bg-[#5271FF] p-5 rounded-lg flex flex-col items-center justify-center hover:scale-[1.01]">
        <img class="h-64 w-auto" src="/voter/mockup.png">
        <h1 class="text-[#F8F6F2] text-3xl font-bold">Voter - <span class="text-[#F8F6F2] text-lg font-semibold">Voting web app</span> </h1>
      </a>

      <a href="/library" class="bg-[#5271FF] p-5 rounded-lg flex flex-col items-center justify-center hover:scale-[1.01]">
        <img class="h-64 w-auto" src="/perpus/mockup.png">
        <h1 class="text-[#F8F6F2] text-3xl font-bold">Library - <span class="text-[#F8F6F2] text-lg font-semibold">Library web app</span> </h1>
      </a>


      <!-- <h1 class="text-[#5271FF] text-center text-3xl font-bold mb-7">Create, Read, Update, Delete & More</h1> -->
      
      
    </div>
</section>

<!-- My Work End -->