<!-- Library -->

<section class="mt-12" id="work">
    <h1 class="text-[#F8F6F2] mx-10 text-center text-3xl font-bold">My Work - Library</h1>
    <div class="bg-[#F8F6F2] h-auto p-20 m-5 rounded-xl grid grid-cols-1 gap-3">

      <h1 class="text-[#5271FF] text-center md:text-start font-bold text-md mb-3">This project is a school project.</h1>

      <h1 class="text-[#5271FF] text-center md:text-start font-bold text-md mb-3">I use laravel for the backend, blade templating engine and tailwind for the frontend. <br> Also MySql for the database.</h1>

      <div class="bg-[#5271FF] p-5 rounded-lg flex flex-col items-center justify-center">
        <h1 class="text-[#F8F6F2] font-semibold text-xl mb-3">Admin Dashboard</h1>
        <img class="mb-5" src="/perpus/dashboard.png">
        <img class="" src="/perpus/dashboard1.png">
      </div>
        
      <div class="bg-[#5271FF] p-5 rounded-lg flex flex-col items-center justify-center">
        <h1 class="text-[#F8F6F2] font-semibold text-xl mb-3">User Page</h1>
        <img class="" src="/perpus/anggota.png">
      </div>

      <div class="bg-[#5271FF] p-5 rounded-lg flex flex-col items-center justify-center">
        <h1 class="text-[#F8F6F2] font-semibold text-xl mb-3">Database Relations</h1>
        <img class="" src="/perpus/relations.png">
      </div>
  
    </div>
</section>

<!-- Library -->