<!-- My Work -->

<section class="mt-12" id="work">
    <div class="bg-[#F8F6F2] min-h-full h-auto p-10 m-5 rounded-xl flex flex-col justify-center">
        <h1 class="text-[#5271FF] mx-10 text-center text-3xl font-bold">Thank you</h1>

        <h1 class="text-[#5271FF] mx-10 text-center text-3xl font-bold">For submitting!</h1>


        <a href="/" class="mt-16 text-[#5271FF] hover:text-[#28377c] mx-10 text-center text-3xl font-bold underline">➡ Back To Home ⬅</a>
    </div>
</section>

<!-- My Work End -->