<!-- Voter -->

<section class="mt-12" id="work">
    <h1 class="text-[#F8F6F2] mx-10 text-center text-3xl font-bold">My Work - Voter</h1>
    <div class="bg-[#F8F6F2] h-auto p-20 m-5 rounded-xl grid grid-cols-1 gap-3">

      <h1 class="text-[#5271FF] text-center md:text-start font-bold text-md mb-3">This project is a school project. Already been implemented in my school for election of student council president.</h1>

      <h1 class="text-[#5271FF] text-center md:text-start font-bold text-md mb-3">We use laravel for the backend, blade templating engine and tailwind for the frontend. <br> Also MySql for the database.</h1>

      <div class="bg-[#5271FF] p-5 rounded-lg flex flex-col items-center justify-center">
        <h1 class="text-[#F8F6F2] font-semibold text-xl mb-3">Admin Dashboard</h1>
        <img class="" src="/voter/admin-dashboard.png">
      </div>
        
      <div class="bg-[#5271FF] p-5 rounded-lg flex flex-col items-center justify-center">
        <h1 class="text-[#F8F6F2] font-semibold text-xl ">Voting Page</h1>
        <h1 class="text-[#F8F6F2] font-semibold text-md mb-3 italic">*Image are corrupt sorry</h1>
        <img class="" src="/voter/vote.png">
      </div>

      <div class="bg-[#5271FF] p-5 rounded-lg flex flex-col items-center justify-center">
        <h1 class="text-[#F8F6F2] font-semibold text-xl mb-3">Result page</h1>
        <h1 class="text-[#F8F6F2] font-semibold text-md mb-3 italic">*We use websockets for this feature 😉</h1>
        <img class="" src="/voter/result.jpeg">
      </div>
  
    </div>
</section>

<!-- Voter -->